/* GLOBAL STYLING FOR CASHIERFU BACKEND */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

.group:after {
  content: "";
  display: table;
  clear: both;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* GLOBAL COLOR VARIABLES
   BLUE:   #3498DB;
   BLUE2:  #1D81C4;
   BG:     #384047;
   WELLS:  #1F272E;
   WELLS2: #151A1F;
   HEADER: #06080A;
   GRAY:   #8D9AA5;
   GRAY2:  #7D8891;
   RED:    #E74C3C;
   RED2:   #BF2E1F;
 */

  

 @font-face {
  font-family: LinearIcons;
  src: url(linearicons.ttf);
 }

 body {
  background-color: #384047;
 }

 * {
  font-family: 'Helvetica Neue' !important;
  color: white;
  font-weight: 200 !important;
 }

 .symbol {
  font-size: 25px;
  margin: 0px !important;
  margin-top: 5px !important;
 }

 .linear {
  font-family: LinearIcons !important;
 }

 .navbar {
  background-color: #1F272E;
 }

 a {
  color: white;
  text-decoration: none;
 }

 a:hover {
  color: #3498db;
 }

 a.active {
  color: #3498db;
 }

 a.active:hover {
  color: #1D81C4;
 }

 .well {
  margin: 20px;
 }

 .well-header, .well-row, .well-row-bottom {
  padding: 20px;
 }

 .well-header {
  background-color: #06080A;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
 }

 .well-row, .well-row-bottom {
  background-color: #1F272E;
 }

 .well-row {
  border-bottom: 1px solid #384047;
 }

 .well-row-bottom {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
 }

 h2 {
  margin-bottom: 9px;
  margin-top: 9px;
 }

 .red {
  color: #E74C3C;
 }

 .gray {
  color: #8D9AA5;
 }

 .float-left {
  float: left;
 }

 .float-right {
  float: right;
 }

 .blue-circle-button {
  margin: 0px !important;
  background-color: #3498DB;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 50%;
 }

 .blue-circle-button:hover {
  background-color: #1D81C4;
  cursor: pointer;
  color: white !important;
 }

 .red-circle-button {
  margin: 0px !important;
  background-color: #E74C3C;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 50%;
 }

 .red-circle-button:hover {
  background-color: #BF2E1F;
  cursor: pointer;
  color: white !important;
 }

 .gray-circle-button {
  margin: 0px !important;
  background-color: #8D9AA5;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 50%;
 }

 .footer {
  background-color: #1F272E;
  padding: 15px;
 }

 .center-text {
  text-align: center;
 }

 .no-margin {
  margin: 0px !important;
 }

 .nav-right {
  border-left: 1px solid #384047;
  padding: 15px;
  width: 214px;
 }

 .nav-right:hover {
  background-color: #151A1F;
 }

 .nav-left {
  border-right: 1px solid #384047;
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 250px;
 }

 .nav-left:hover {
  background-color: #151A1F;
 }

 .logo {
  font-family: Georgia !important;
  margin: 0px !important;
  background-color: #3498db;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 50%;
 }

 .big-top {
  margin-top: 14px !important;
 }

 input.float-right {
  background-color: #1F272E;
  border: 0px;
  font-size: 16px;
  text-align: right;
  margin: 0px;
  margin-top: 7px;
  width: 50%;
 }

 input.float-left {
  background-color: #1F272E;
  border: 0px;
  font-size: 16px;
  text-align: left;
  margin: 0px;
  margin-left: 43px;
  margin-top: 7px;
  width: 20%;
  border-right: 1px solid #384047;
 }

 input.float-right:focus, input.float-left:focus {
  outline: none;
 }

 ::-webkit-input-placeholder {
   color: #8D9AA5;
}

:-moz-placeholder { /* Firefox 18- */
   color: #8D9AA5; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #8D9AA5;  
}

:-ms-input-placeholder {  
   color: #8D9AA5;  
}

.menu-left, .menu-right {
  display: none;
  background-color: #1F272E;
  border-top: 1px solid #384047;
}

.menu-left {
  border-right: 1px solid #384047;
  border-bottom: 1px solid #384047;
  width: 275px;
  position: absolute;
}

.menu-right {
  border-left: 1px solid #384047;
  border-bottom: 1px solid #384047;
  width: 245px;
  position: relative;
}

.menu-item {
  padding: 20px;
}

.menu-right .menu-item {
  text-align: right;
}

.menu-item:hover {
  background-color: #151A1F !important;
}

.no-border {
  border: 0px !important;
}

.icon-credit-card {
  margin-top: 7px;
}